#topBar {

	top: 0%;
	height: 80px;
	background-color: #9fcfcf;
	border: 2px solid black;
	border-radius: 16px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

#mainSection {

	margin: 0 auto;
	margin-bottom: 32px;
	position: absolute;
	height: 1200px;
	top: 120px;
	border: 2px solid black;
	border-radius: 16px;
	width: 96%;
	background-color: #9fcfcf;
	background-image: url("resources/pirateShip.png");
	left: 0%;
	right: 0%;
}

#sideBar {

	top: 0%;
	position: absolute;
	width: 8.5%;
	left: 0px;
	bottom: 0px;
	background-color: #effbd0;
	border: 2px solid black;
	border-radius: 16px;
	text-align: center;
}

#pageTitle {

	color: #a04040;
	font-weight: bold;
	text-align: center;
}

#searchBox {

	background-color: #d0f0ff;
	position: relative;
	margin: auto;
	border: 2px solid black;
	border-radius: 16px;
	width: 50%;
	top: 64px;
	text-align: center;
}

#statsBox {
	
	background-color: #d0f0ff;
	position: relative;
	margin: auto;
	border: 2px solid black;
	border-radius: 16px;
	width: 50%;
	text-align: center;
	top: 512px;
}

#resultsBox {

	background-color: #d0f0ff;
	position: relative;
	margin: auto;
	border: 2px solid black;
	border-radius: 16px;
	width: 75%;
	top: 128px;
	text-align: center;
	font-weight: bold;
}

#resultsMessage {
	font-weight: bold;
}

#results {
	list-style-image: url('resources/boatIcon.jpg');
	position: relative;
	margin: auto;
	border: 1px solid black;
	border-radius: 16px;
	background-color: #eeeeee;
	width: 96%;
}

#login {
	position: relative;
	/*float: right;*/
	top: -40px;
	left: 92%;
}

#home {
	display: inline;
	position: relative;
	/*float: right;*/
	top: -40px;
	left: 90.25%;
	vertical-align: middle;
}

#logout {
	cursor: pointer;
	display: inline;
	color: blue;
	text-decoration: underline;
	position: relative;
	/*float: right;*/
	top: -40px;
	left: 92%;
	vertical-align: middle;
}

#textfield {
	width: 50%;
}

#textbox {
	width: 50%;
	height: 50%;
}

.passfield {

}

#dlBox {
	background-color: #d0f0ff;
	position: relative;
	margin: auto;
	border: 2px solid black;
	border-radius: 16px;
	width: 50%;
	top: 64px;
	text-align: center;
}

#loading {
	margin: auto;
	width: 10%;
	background: url("resources/loading.gif") no-repeat top left;
}

.result {
	position: relative;
	height: 32px;
	width: 90%;
	margin: auto;
	border: 1px solid black;
	border-radius: 16px;
	background-color: #FFFFF0;
	cursor: pointer;
}

.result:hover {
	background-color: #6FaFFF;
}

.resn {
	width: 75%;
	display: inline-block;
	overflow: hidden;
}

.ress {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.resl {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.divider {
	border-left: 1px solid gray;
	border-right: 1px solid black;
	height: 100%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.ressl {
	overflow: hidden;
	margin-top: 8px;
	display: inline-block;
	height: 100%;
	width: 25%;
	float: right;
}

.resl, .ress, .divider {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

#torrentbox {
	background-color: #d0f0ff;
	position: relative;
	margin: auto;
	border: 2px solid black;
	border-radius: 16px;
	width: 50%;
	top: 64px;
	text-align: center;
}

#torrentcomments {
	background-color: #d0f0ff;
	position: relative;
	margin: auto;
	border: 2px solid black;
	border-radius: 16px;
	width: 50%;
	top: 64px;
	text-align: center;
}

.comment {
	text-align: left;
	width: 90%;
	margin-left: 5px;
}

textarea {
	position: relative;
	width: 80%;
}

#trackerUrl {
	width: 400px;
}